html {
	height: 100vh;
}

body.top {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../images/cover.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body {
	background-color: aqua;
}

.loginForm {
	width: 320px !important;
}

.form-btns {
	padding-top: 2rem !important;
}

ul.alert > li {
	list-style-type: none;
	padding-left: 0.7rem;
}
